// Menu Buttuon
.menu-btn {
    position: fixed;
    z-index: 3;
    left: 55px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            background: $secondary-color;
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
        }
    }

    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: right;
        width: 50%;
        height: 100vh;
        overflow: none;
    }

    .menu-nav {
        margin: 0;
        padding: 0;
        background: lighten($secondary-color, 7);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            //Slide in from top
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            position: fixed;
            left: 0;
            top: 0;
            width: 150px;
            height: 150px;
            background: url('../dist/img/omakuva.png');
            border-radius: 50%;
            border: solid 3px #fff;
        }
    }

    .nav-item {
        &.current > a {
            color: rgb(223, 167, 167);
            font-weight: 500;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        line-height: 2.5;
        color: #fff;
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: rgb(223, 167, 167);
            font-weight: 500;
        }
    }
